<footer class="mt-auto">
    <div class="text-center p-3 footer-text-holder">


        <div class="footer-icons">

            <i class="fa fa-facebook-f"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-pinterest-p"></i>
        </div>

        <div class="footer-copyright m-2">
            <small>© 2021 Copyright</small>
        </div>

        <div class="footer-powered">
            <small>Powered by: Jeditaliano</small>
        </div>

    </div>
</footer>