<!-- <div class="page-not-found-img-holder">
    <img src="https://cdn.discordapp.com/attachments/800801875686719528/812304455272890398/page-not-found.png" alt="">
</div> -->

<div class="page-not-found">
    <div class="darken">
        <div class=middle>
        <div class="text">
            <p>4</p>
            <img src="https://www.pngkit.com/png/full/2-20221_pizza-png-image-pizza-seafood-png-top-view.png" alt="">
            <p>4</p>

        </div>
        

        <h1>Oops, page not found!</h1>
    </div>
</div>
</div>
